@import url(./modules/variables.css);
@import url(./modules/section.css);
@import url(./modules/animation.css);

.body {
    background-color: var(--primary-theme-color);
    color: var(--primary-text-color);
    font-family: var(--primary-font-family);
    margin: 0;
}